#backPane {
    -fx-background-color: #ADADAD;

    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #6E6E6E;
    -fx-border-width: 5;
}

#optionsPane {
    -fx-background-color: #ADADAD;

    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: #6E6E6E;
    -fx-border-width: 5;
}

#optionsButton {
    -fx-background-color: transparent;
}

#settingsPane {
    -fx-background-color: #DAD9D9;
}