#background {
    -fx-background-color: black;
    -fx-background-radius: 30;
}

#closeButton {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
}

#closeButton:hover {
    -fx-background-color: #5B5B5B;
    -fx-background-radius: 30;
}